@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");

body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	font-family: "Heebo", sans-serif;
	color: #21243d;
}
main {
	flex: 1 1 auto;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 888px;
	padding: 0 15px;
	margin: 0 auto;
}
.header-block {
	font-size: 22px;
	line-height: 273%;
	@media (max-width: 420px) {
		text-align: center;
	}
}
.title {
	font-weight: 700;
	font-size: 44px;
	line-height: 136%;
}
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// ----ШАПКА------------------------------------------------------------
.header {
	width: 100%;
	z-index: 50;
	&__container {
		display: flex;
		flex-direction: row-reverse;
		min-height: 80px;
		align-items: center;
		@media (max-width: 772px) {
			justify-content: center;
		}
	}

	&__menu {
		padding: 5px 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		&:not(:last-child) {
			margin: 0px 33px 0px 0px;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 20px;
		line-height: 68%;
		color: #000000;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.active {
	color: #ff6464;
}
// ----INFO------------------------------------------------------------

.info {
	&__inner {
		padding: 140px 0px 71px 0px;
		@media (max-width: 772px) {
			padding: 60px 0px 60px 0px;
		}
		@media (max-width: 420px) {
			padding: 33px 0px 50px 0px;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 772px) {
			flex-direction: column-reverse;
		}
	}

	&__content {
	}

	&__icon {
		height: 243px;
		@media (max-width: 772px) {
			height: 180px;
			width: 180px;
			margin-bottom: 34px;
		}
	}
}
.content-info {
	max-width: 500px;
	& > *:not(:last-child) {
		margin: 0px 0px 40px 0px;
		@media (max-width: 420px) {
			& > *:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	&__title {
		font-weight: 700;
		font-size: 44px;
		line-height: 136%;
		@media (max-width: 420px) {
			font-weight: 700;
			font-size: 32px;
			line-height: 125%;
		}
	}

	&__subtitle {
		line-height: 150%;
		@media (max-width: 420px) {
			text-align: center;
		}
	}

	&__btn {
		background: #ff6464;
		border-radius: 2px;
		display: inline-block;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 47px;
		padding: 10px 20px;
		font-size: 20px;
		color: #ffffff;
		font-weight: 500;
		text-decoration: none;
		line-height: 145%;
		@media (max-width: 375px) {
			width: 100%;
		}
	}
}
// ----POSTS------------------------------------------------------------
.posts {
	&__inner {
		background: #edf7fa;
		padding: 10px 0px 32px 0px;
	}

	&__container {
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__item {
		flex: 0 1 50%;
		max-width: 418px;
		padding: 0 15px;
		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
		@media (max-width: 875px) {
			flex: 0 1 100%;
			max-width: 100%;
			box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
			border-radius: 4px;
			&:not(:last-child) {
				margin: 0px 0px 17px 0px;
			}
		}
	}
}
.item-posts {
	background-color: #ffffff;
	padding: 10px;
	& > *:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
	&__title {
		font-weight: 700;
		font-size: 26px;
		line-height: 146%;
		@media (max-width: 420px) {
			font-size: 22px;
			line-height: 136%;
		}
	}

	&__info {
		font-size: 18px;
		line-height: 150%;
		display: flex;
		@media (max-width: 420px) {
			font-size: 16px;
		}
	}

	&__info-date {
		padding-right: 26px;
		border-right: 1px solid #000000;
	}

	&__info-post {
		padding-left: 26px;
	}

	&__text {
		line-height: 150%;
	}
}
.works {
	&__inner {
		padding: 11px 0px 52px 0px;
	}

	&__container {
	}

	&__body {
	}

	&__column {
	}

	&__item {
		display: flex;
		@media (max-width: 772px) {
			flex-wrap: wrap;
		}
	}
}
.item-works {
	margin: 0px 0px 31px 0px;
	border-bottom: 1px solid #e0e0e0;
	&__image {
		@media (max-width: 420px) {
			margin-bottom: 15px;
		}
	}

	&__content {
		padding: 0px 0px 30px 18px;
		& > *:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: 772px) {
			padding: 0px 0px 30px 0px;
		}
		@media (max-width: 420px) {
			& > *:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 146%;
		@media (max-width: 420px) {
			font-size: 24px;
			line-height: 125%;
		}
	}

	&__info {
		display: flex;
	}

	&__date {
		background: #142850;
		border-radius: 16px;
		padding: 3px;
		color: #ffffff;
		font-weight: 900;
		font-size: 18px;
		line-height: 150%;
		display: flex;
		align-items: center;
		text-align: center;
		@media (max-width: 420px) {
		}
	}

	&__post {
		font-size: 20px;
		line-height: 145%;
		color: #8695a4;
		margin-left: 26px;
		@media (max-width: 420px) {
			font-size: 16px;
			line-height: 150%;
			margin-left: 22px;
		}
	}

	&__text {
		line-height: 150%;
	}
}
// ----PAGE BLOG------------------------------------------------------------
.blog-page {
	&__inner {
		padding: 106px 0px 53px 0px;
	}

	&__container {
	}

	&__items {
		padding-top: 55px;
	}

	&__item {
		max-width: 682px;
		padding-bottom: 29px;
		margin: 0px 0px 32px 0px;
		border-bottom: 2px solid #e0e0e0;
		& > *:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
	}
}
.item-blog {
	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 136%;
	}

	&__info {
		display: flex;
	}

	&__info-date {
		font-size: 20px;
		line-height: 145%;
		padding-right: 20px;
		border-right: 1px solid #000000;
	}

	&__info-post {
		padding-left: 20px;
		font-size: 20px;
		line-height: 145%;
		color: #8695a4;
	}

	&__text {
		line-height: 150%;
	}
}

// ----FOOTER------------------------------------------------------------

.footer {
	&__inner {
		padding: 52px 0;
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__icons {
		margin-bottom: 26px;
	}

	&__icon {
		&:not(:last-child) {
			margin: 0px 35px 0px 0px;
		}
	}

	&__copy {
		font-size: 14px;
		line-height: 150%;
		text-align: center;
	}
}
